@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    /* background:linear-gradient(to right top,rgba(90, 20, 76, 0.8),rgba(105, 19, 10, 0.7)), url("../images/about/about1.jpg"); */
    background-image: url("../images/about/about-breadcrumb-bg.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 250px;
    color: white;
}
.header .title{
    font-size:35px ;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 
    text-transform: uppercase;
    padding-top: 20px;
}
.about{
    margin: 100px 0px;
    padding:0px  50px;
    overflow: hidden; 
}
.about .about-content{
    width: 50%;
    float: left;
}
.about-content .left{
    border: solid white 4px;
    width: 600px;
   margin-top: 35px;
}
.about-content .left img{
   transition: box-shadow 0.3s ease;
}
.about-content .left img:hover{
    box-shadow: 0 8px 20px rgba(0,0,0,0.8);
}
.about-content .right{
    font-size: 17px;
    margin-left: 30px;
    margin-bottom: 40px;
}
.about-content .right .about-header .line{
    display: inline-block;
    background-color: #ed563b;
    width: 3px;
    height: 30px;
    margin-top: 15px;
    float: left;
}
.about-content .right h2{
    margin-left: 10px;
    font-size: 35px;
    font-family: "Oswald", sans-serif;
    text-transform: capitalize;
}
.about-content .right h4{
    font-size: 20px;
    font-weight: 540;
    color: black;
}
.about-content .right p{
    color: #5e5d5d;
    line-height: 1.3;
    font-size: 20px;
}
.whyus{
    /* background:linear-gradient(to right top,rgba(67, 16, 57, 0.9),rgba(91, 15, 6, 0.8)), url("../images/about/about2.jpeg"); */
    background-image: url("../images/about/chose-us-bg.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 500px;
    color: white;
    text-align: center;
}
.whyus .whyus-content{
    overflow: hidden; 
}
.whyus-header .whyus-title{
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
}
.whyus-header .line{
    display: inline-block;
    background-color: #ed563b;
    width: 80px;
    height: 3px;
    margin: 0 auto 15px auto;
}
.whyus-content .whyus-desc h3{
    padding-bottom: 20px;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 450;
}
.whyus .whyus-item .whyus-item-desc{
    float: left;
    width: 25%;
    padding-top: 20px;
    font-family: "Oswald", sans-serif;
    padding-left: 20px;
}
.whyus-item .whyus-item-desc .icon{
    font-size: 40px;
}
.whyus-item .whyus-item-desc .icon:hover{
    color: #ed563b;
}
.whyus-item .whyus-item-desc .whyus-item-title{
    font-family: "Oswald", sans-serif;
}
.whyus-item .whyus-item-desc .whyus-item-txt{
    font-family: "Oswald", sans-serif;
    
}

.trainers {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.trainers .whyus-desc h3{
    color: #626262;
    font-family: "Oswald", sans-serif;
}
.containerr{
    text-align: center;
    padding: 30px;
}
.trainer{
    width: 25%;
    height: 410px;
    float: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s;
}
.trainer img{
    width: 100%;
}
.clear{
    clear: both;
}
.trainer:hover {
    transform: scale(1.1);
} 

.trainer h3{
    font-family: "Oswald", sans-serif;
}
.trainer p{
    color: #555454;
    font-family: "Oswald", sans-serif;
}
.social-links a {
    display: inline-block;
    margin: 5px;
    color: #353535;
}
.trainer hr{
    border: 1px solid #ed563b;
    width: 65%;

}
.social-links a:hover {
    color: #ed563b;
}
/* fotor*/

.footer-area {
    position: relative;
    background-color: #e73c11;
    color: #d1cbc8;
    padding: 40px 0;
    font-size: 25px;
    height: 120px;
    font-family: "Anton", sans-serif;
    margin: -4px 0;
  }
  .text-center {
    text-align: center;
    position: relative;
    z-index: 2;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 0.5s;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .visible {
    opacity: 1;
  }
  